/*Headerio css*/

ul li {
  display: inline;
}

.items_row {
  display: flex;
  justify-content: space-between;
}

.main_menu {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.main_logo {
  padding: 20px;
}

.nav_menu {
  padding-top: 12px;
  margin-right: 20px;
}

.nav_menu_list li a {
  text-decoration: none;
  color: black;
}

.nav_menu_list li a i {
  font-size: 14px;
}

.blog_main_menu {
  position: relative;
  display: inline-block;
}

.blog_sub_menu a {
  display: block;
  margin: 5px 5px;
  z-index: 999;
  transition: 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.blog_sub_menu ul li {
  box-sizing: border-box;
  transition: 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.blog_sub_menu {
  display: none;
  position: absolute;
  box-sizing: border-box;
  z-index: 999;
  left: -0;
  top: 20px;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 0 30px rgb(127 137 161 / 25%);
}

.blog_main_menu:hover .blog_sub_menu {
  display: block;
}

li {
  margin-right: 20px;
}

/* Banner'io css*/

.banner {
  background: url(https://preview.colorlib.com/theme/personal/img/blog/xblog-home-banner.jpg.pagespeed.ic.LNeIdTttnV.webp);
  background-size: cover;
  padding: 110px 0;
  position: relative;
  min-height: 300px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.main_blog_part {
  text-align: center;
  padding: 90px 0;
  margin-top: 70px;
  width: 100%;
  z-index: 999;
}
.text_white {
  color: #fff;
}

.main_blog_part h1 {
  font-weight: 600;
  font-size: 48px;
}

.main_blog_part p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

.main_blog_part .main_blog_btn {
  text-decoration: none;
  background: white;
  color: black;
  padding: 10px 30px;
}

/* Kategoriju linija */

.category {
  margin-top: 100px;
}
.container_2 {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.first_widget {
  width: 33%;
  position: relative;
}

.details {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 50px;
  color: #fff;
}

.overlay_first_widget {
  background: rgba(0, 0, 0, 0.85);
  margin: 7%;
  position: absolute;
  left: -12px;
  top: 0;
  right: 0;
  bottom: 0;
}

h4 {
  text-transform: uppercase;
}

span {
  display: inline-block;
  background: #fff;
  width: 60%;
  height: 1%;
}

.first_widget:hover .overlay_first_widget {
  background-color: #8490f8;
  opacity: 85%;
}

/* post_content_area css */

.post_content_area {
  background-color: #f9f9ff;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.left_side {
  max-width: 66.666%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
}

.first_post_area {
  display: flex;
  margin-top: 45px;
}

.column_area {
  max-width: 25%;
}

.column_area .tags {
  padding: 0;
}

.post_area {
  max-width: 75%;
}

.user_details_block {
  display: flex;
  flex-wrap: wrap;
}

.tags a {
  text-decoration: none;
  color: #222;
}

.tags a:hover {
  color: #8490ff;
}

.user_details_block i {
  font-size: 20px;
}

.user_details_block p {
  width: 100%;
}

.user_details_block a {
  text-decoration: none;
  color: #222;
}

.user_details_block a:hover {
  color: #8490ff;
}

.post_area_image {
  width: 100%;
}
.post_area_image .post_image {
  max-width: 100%;
}

.post_area_image a {
  text-decoration: none;
}

.post_area_image h3 {
  font-size: 24px;
  font-weight: 600;
  color: #222;
  font-family: "Poppins", sans-serif;
}

.post_area_image p {
  font-size: 14px;
  font-weight: 300;
  color: #777;
  font-family: "Poppins", sans-serif;
  margin-bottom: 25px;
}

.post_area_image a.button {
  background-color: #fff;
  color: #222;
  padding: 10px 30px;
  line-height: 42px;
  font-weight: 600;
  margin-top: 20px;
  transition: all 0.3s ease 0s;
}

.post_area_image a.button:hover {
  background: #8490ff;
  color: #fff;
}

.widget_wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 33.333%;
  margin: 0 auto;
  padding-top: 75px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  max-height: 0;
}
/*_________________________*/
/* Paieskos langelio css */

.search_form_block {
  display: flex;
}

.search_form input::placeholder {
  color: #fff;
  font-size: 20px;
}

.search_form {
  display: flex;
  margin: 0 auto;
}

.las,
.la {
  font-size: 25px;
}

.search_form input {
  padding: 10px 22px;
  background: #8490ff;
  border: none;
  color: #fff;
  font-size: 14px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search_form button {
  padding: 10px 22px;
  background: #8490ff;
  border: none;
  color: #fff;
  font-size: 14px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*___________________________*/

.search_widget {
  text-align: center;
}
.widget_data {
  text-align: center;
  margin: 30px 30px;
}

.widget_wrap a {
  text-decoration: none;
}

.widget_data h4 {
  font-size: 18px;
  color: #222;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: none;
}

.widget_data p {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.widget_data li a {
  color: #222;
}

.widget_data li a:hover {
  color: #8490ff;
}

.widget_data ul {
  padding: 0;
}

.post_widget h4 {
  text-align: center;
}

.post_widget {
  width: 100%;
  height: 100%;
}

.title_block {
  margin-bottom: 30px;
}

.popular_title,
.post_categories_title,
.newsletter_title,
.tag_title {
  padding: 10px 22px;
  background: #8490ff;
  border: none;
  color: #fff;
  font-size: 14px;
}

.post_area_image img {
  width: 100%;
}

.single_post_details {
  max-width: 75%;
  margin-left: 30px;
  box-sizing: border-box;
}

.single_post {
  display: flex;
  flex-wrap: wrap;
}

.single_post_image {
  max-width: 25%;
}

.single_post_details h6 {
  margin: 0;
}

.single_post_details p {
  margin: 0;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
  color: #777;
}

.single_post_details h6 {
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Poppins";
}

.single_post_details a h6:hover {
  color: #8490ff;
}

.post_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

.column_area {
  text-align: right;
  padding: 0 15px;
}

.post_area {
  padding: 0 15px;
}

/*Kategoriju saraso css*/
/*_______________________________*/

.ul_cat_list a {
  display: flex;
  justify-content: space-between;
  border-bottom-style: dotted;
  color: #777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.ul_cat_list {
  padding: 0;
}

.ul_cat_list li:hover a {
  color: #8490ff;
}

/*Newsletter css*/
/*_________________________________*/

.newsletter_widget p {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  font-family: "Poppins";
  color: #777;
  font-weight: 300;
}

.form_block {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.form_input_block {
  background: white;
  font-size: 14px;
  border: none;
  vertical-align: top;
}

.email_input {
  border: none;
  font-size: 13px;
  padding: 13px;
  padding-right: 28px;
}

.email_input::placeholder {
  font-size: 13px;
  align-items: center;
  color: #ced4da;
}

.form_block a {
  background: #8490ff;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 0;
  font-family: "Poppins";
}

.form {
  border: 1px solid #ced4da;
  display: flex;
}

/*tag css*/
/*___________________*/

.tag_block li {
  display: inline-block;
  border: 1px solid #eee;
  background: #fff;
  padding: 4px 14px;
  margin: 0;
  margin-bottom: 10px;
  transition: all 0.3s ease 0s;
}

.tag_block ul li a {
  font-size: 12px;
  color: #222;
  font-family: "Poppins";
}

.tag_block ul {
  padding: 0;
}

.tag_block ul li:hover {
  background: #8490ff;
}

.tag_block ul li:hover a {
  color: #fff;
}

/*pagination*/
/*_____________________*/

.blog_pagination {
  padding-top: 60px;
  padding-bottom: 100px;
}

.pagination li a {
  background-color: transparent;
  text-decoration: none;
  border-color: transparent;
  font-size: 18px;
  color: #777;
}

.pagination li {
  padding: 0 10px;
  margin: 0;
}

.pagination {
  display: flex;
  padding-left: 220px;
}

.pagination li:hover {
  background: #8490ff;
}

.pagination li:hover a {
  color: #fff;
}

/*Footerio css*/
/*_________________________________*/
.footer {
  background: #04091e;
  padding: 120px 0;
}
.footer_container {
  max-width: 1140px;
  margin: 0 auto;
}
.footer_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer_section_1,
.footer_section_2 {
  width: 40%;
}

.footer_section_3 {
  width: 20%;
}

.email_adress_enter {
  display: flex;
  flex-wrap: wrap;
}

.email_btn {
  align-items: center;
}

.footer_section_1 h4, .footer_section_2 h4, .footer_section_3 h4 {
color: #fff;
margin-bottom: 25px;
font-weight: 500;
font-family: "Poppins";
text-transform: none;

}

.footer_section_1 p, .footer_section_2 p, .footer_section_3 p {
  color: #777;
  font-family: "Poppins";
  font-size: 14px;
}

.email_btn {
    background: #8490ff;
}

.email_btn i {
  padding: 7px 11px;
  color: #fff;
}

.footer_email_input {
  width: 80%;
}

.email_input {
  width: 90%;
}

.social_media_icons a {
  text-decoration: none;
  color: #fff;
}

.social_media_icons a:hover {
  color: #8490ff;
}

.footer_section_1, .footer_section_2, .footer_section_3 {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}