body {
  font-family: "Poppins", sans-serif;
}
ul li {
  display: inline;
}

h6 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 36px;
  text-transform: uppercase;
}

p {
  color: #777777;
  font-size: 14px;
  line-height: 1.625em;
}

.this_is_me h1 {
  margin: 20px 0;
}

.items_row {
  display: flex;
  justify-content: space-between;
}

.main_logo {
  padding: 20px;
}

.nav_menu {
  margin-top: 15px;
  margin-right: 20px;
}

li {
  margin-right: 20px;
}

.first {
  background: #f9f9ff;
}

.first_container,
.second_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.this_is_me,
.about_me_block {
  width: 50%;
  box-sizing: border-box;
}

.second_container {
  max-width: 1140px;
  flex-wrap: nowrap;
}

.about_button, .details_button {
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}