body {
  font-family: "Poppins", sans-serif;
  padding-top: 70px;
}
ul li {
  display: inline;
}

h6 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 36px;
  text-transform: uppercase;
}

p {
  color: #777777;
  font-size: 14px;
  line-height: 1.625em;
}

.this_is_me h1 {
  margin: 20px 0;
}

.items_row {
  display: flex;
  justify-content: space-between;
}

.main_menu {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
}

.main_logo {
  padding: 20px;
}

.nav_menu {
  padding-top: 12px;
  margin-right: 20px;
}

li {
  margin-right: 20px;
}

.first {
  background: #f9f9ff;
}

.first_container,
.second_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.this_is_me,
.about_me_block {
  width: 50%;
  box-sizing: border-box;
}

.about_button,
.details_button {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.third_flexbox_container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.third_block_part {
  width: 33%;
  text-align: center;
  margin-top: 60px;
}

.third_block_part p {
  width: 350px;
  margin: 0 auto;
}

.third_block_part h4 {
  font-size: 18px;
  text-transform: unset;
  color: black;
  font-weight: 600;
}

.third_block_part i {
  font-size: 64px;
  color: black;
}
a {
  text-decoration: none;
}

.third_container_main_text {
  text-align: center;
}

.third_container_main_text h1 {
  text-transform: unset;
}

.third_block_part:hover > .interactive_block i{
  color:blue;
  opacity: 50%;

}

.third_block_part:hover > .interactive_block h4{
  color:blue;
  opacity: 50%;

}

